body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #006235;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px; /* Tamanho base */
    
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.1);
}

.tituloaves {
    color: #FFB400; /* Dourado vibrante */
    font-weight: bold;
    font-size: 28px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.CEET {
    color: #FFD700; /* Azul vibrante */
    font-weight: bold;
    font-size: 28px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.titulo {
    color: #ffffff; /* Branco puro */
    font-size: 46px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 0 auto; /* Centraliza a página */
    
    /* Fundo quase transparente */
    background: rgba(0, 0, 0, 0.2); /* Preto com 30% de opacidade */
    border-radius: 10px; /* Cantos arredondados */
    display: inline-block; /* Ajusta o tamanho ao conteúdo */
    padding: 15px 30px; /* Espaçamento interno */
}
/* Lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}
.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
.lightbox.active {
    display: flex;
}


/* Responsividade */
@media (min-width: 1025px) {
    .titulo {
        font-size: 55px;
    }

    .CEET {
        font-size: 40px;
    }

    .tituloaves {
        font-size: 30px;
    }
    .gallery img {
        width: 210px;
    }

    .btn {
        font-size: 25px;
        width: 250px;
    }

    .btn i {
        font-size: 39px;
    }
}

@media (max-width: 1024px) {
    .titulo {
        font-size: 36px;
    }

    .CEET {
        font-size: 32px;
    }

    .tituloaves {
        font-size: 29px;
    }

    .gallery img {
        width: 180px;
    }

    .btn {
        font-size: 20px;
        width: 200px;
    }

    .btn i {
        font-size: 34px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .titulo {
        font-size: 28px;
    }

    .CEET {
        font-size: 32px;
    }

    .tituloaves {
        font-size: 29px;
    }

    .gallery {
        gap: 5px;
    }

    .gallery img {
        width: 150px;
    }

    .btn {
        font-size: 18px;
        width: 180px;
    }

    .btn i {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .titulo {
        font-size: 35px;
    }

    .CEET {
        font-size: 26px;
    }

    .tituloaves {
        font-size: 23px;
    }

    .gallery img {
        width: 110px;
    }

    .btn {
        font-size:18px;
        width: 150px;
    }

    .btn i {
        font-size: 27px;
    }
}

@media (max-width: 375px) {
    body {
        font-size: 12px;
    }

    .titulo {
        font-size: 30px;
    }

    .CEET {
        font-size: 23px;
    }

    .tituloaves {
        font-size: 20px;
    }

    .gallery img {
        width: 105px;
    }

    .btn {
        font-size:12px;
        width: 100px;
    }

    .btn i {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 12px;
    }

    .titulo {
        font-size: 23px;
    }

    .CEET {
        font-size: 18px;
    }

    .tituloaves {
        font-size: 16px;
    }

    .gallery img {
        width: 80px;
    }

    .btn {
        font-size:12px;
        width: 100px;
    }

    .btn i {
        font-size: 17px;
    }
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.main-content {
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço necessário e empurre o footer para baixo */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}


.instagram {
    background: #E4405F;
}

.instagram:hover {
    background: #d12a4c;
}

.github {
    background: #333;
}

.github:hover {
    background: #222;
}


* {
    box-sizing: border-box;
}
